{{/* mise URL is broken (404), install manually if needed
{{ if ne .chezmoi.os "windows" }}
[".local/bin/mise"]
type = "file"
executable = true
url = "https://mise.jdx.dev/mise-latest-{{.chezmoi.os}}-{{.chezmoi.arch}}"
{{ end }}
*/}}
