[user]
	name = yabo
	email = seniorpepex@gmail.com
[core]
	editor = code --wait
	pager = delta
[credential "https://github.com"]
	helper =
{{ if eq .chezmoi.os "windows" -}}
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
{{ else -}}
	helper = !gh auth git-credential
{{ end -}}
[credential "https://gist.github.com"]
	helper =
{{ if eq .chezmoi.os "windows" -}}
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
{{ else -}}
	helper = !gh auth git-credential
{{ end -}}
[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
[merge]
	conflictStyle = zdiff3
[interactive]
	diffFilter = delta --color-only
